article {
    background-color: var(--focus-blue);
    border-radius: calc(var(--base-padding) /2 );
}

.main-info-container {
    display: flex;
    align-items: center;
    gap: var(--base-padding);
}

.company-logo-container {
    width: 90px;
}

.company-logo-container > img {
    width: calc(90px - var(--base-padding));
    margin: calc(var(--base-padding) / 2);
    margin-left: var(--base-padding);
}

.company-logo-container-details {
    width: 90px;
}

.company-logo-container-details > img {
    width: calc(90px - var(--base-padding));
    margin: calc(var(--base-padding) / 2);
    margin-left: var(--base-padding);
}

.company-name {
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
}

.company-location {
    font-size: 14px;
    text-align: right;
    margin-right: calc(var(--base-padding) / 2);
}

.details-button {
    background-color: var(--dark-color);
    color: white;
    border-radius: 6px;
    margin: 0 var(--base-padding);
    width: 120px;
    padding: calc(var(--base-padding) / 2);
}

.details-container {
    margin: var(--base-padding) var(--base-padding);
    margin-top: 0;
}

.catch-phrase {
    text-align: center;
    font-weight: 600;
    margin-bottom: calc(var(--base-padding) / 2);
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: var(--base-padding);
}

.vertical-divider {
    border-right: 2px solid var(--dark-color);
}

@media only screen and (max-width: 991px){
    article {
        padding: var(--base-padding);
    }
    .company-logo-container {
        display: none;
    }
    .company-name {
        max-width: 30%;
        overflow: hidden;
    }
    .details-container {
        margin-top: var(--base-padding);
    }
}