body {
  margin: 0;
  font-family: 'Kanit', 
    'Ubuntu', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #EAEAEA;
  --dark-color: #2E4651;
  --off-white: #EAEAEA;
  --focus-blue: #EAFBFF;
  --text-color: #323232;
  --base-padding: 18px;
  
}